form{
	width:440px;
	padding:3px 10px;
	border-radius:25px;
	margin:auto;
    background-image: url(https://cdn.pixabay.com/photo/2020/02/24/18/05/background-4876991_960_720.jpg);
}
.lab{
    width:50px;
	font-weight:bolder;
    font-size: 25px;
	display: inline-flexbox;
}
.inp{
    width:200px;
	padding:3px 10px;
	border:3px solid #000000;
	border-radius:30px;
	background-color:#e9e9e9;
	margin:9px 0;
	display:inline-flexbox;
}
.tex{
	width:100%;
	height:150px;
	border:1px solid #f6f6f6;
	border-radius:8px;
	background-color:#f7f7f7;			
	margin:8px 0;
	resize:vertical;
	display:block;
}
.end{
    width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:3px solid #000;
	border-radius:30px;
	display:block;
	color:#fff;
	background-color:#000;
}
.end:hover{
    cursor:pointer;
}

